/* Start Genral rules */
:root {
  /* Colors */
  --f-color: #fff;
  --but-color: #7453fc;
  --box-color: #282b2f;
  --border-box-color: #404245;
  --span-color: #afafaf;
  /* Border Radius */
  --boder-rad: 25px;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  padding: 0;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
img {
  width: 100%;
}
button,
input,
textarea {
  border: none;
  background-color: transparent;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* End Genral rules */
/* Start classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}
.general-buts .gen-but {
  display: inline-block;
  font-size: 13;
  background-color: var(--but-color);
  color: var(--f-color);
  padding: 13px 30px;
  border: 1px solid #7453fc;
  border-radius: var(--boder-rad);
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.general-buts .gen-but.one {
  background-color: transparent;
}
.general-buts .gen-but.one:hover {
  background-color: var(--but-color);
}
.general-buts .gen-but.two {
  background-color: var(--but-color);
}
.general-buts .gen-but.two:hover {
  background-color: var(--f-color);
  color: var(--but-color);
}
.general-buts .gen-but::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 75%;
  background-color: var(--f-color);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.gen-head {
  font-size: 26px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 25px;
  text-transform: capitalize;
  color: var(--f-color);
  position: relative;
  text-align: center;
  line-height: 1.7;
}
.gen-head span {
  color: var(--but-color);
}
.gen-head::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100px;
  height: 2px;
  background-color: var(--but-color);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .gen-head {
    font-size: 30px;
  }
}
.next-prev {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: var(--f-color);
  color: var(--but-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: 0.3s;
}
/* End classes */
/* Start Header */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: var(--f-color);
  transition: 0.3s;
}
.header.fixed-header {
  background-color: var(--f-color);
  position: fixed;
  padding: 0;
}
.header.fixed-header .nav .logo {
  width: 180px;
  padding: 5px;
}

.header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--f-color);
  border-radius: 50px;
}
.header.fixed-header .container .nav {
  padding: 5px;
}
.header .nav .logo {
  margin-right: 20px;
}
@media (max-width: 991.99px) {
  .header .nav .logo {
    width: 200px;
  }
  .header .menu {
    position: absolute;
    width: 90%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--f-color);
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  .header .menu.play-menu {
    /* height: fit-content; */
    height: 265.5px;
  }

  .menu .link {
    display: inline-block;
    color: #1e1e1e;
    width: 100%;
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
    transition: color 0.3s;

    font-weight: 500;
  }
  .header .nav .link.active,
  .header .nav .link:hover {
    color: var(--but-color);
  }
  .header .toggle {
    cursor: pointer;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .toggle .toggle-line {
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: var(--but-color);
    position: relative;
    transition: 0.3s;
  }
  .header .toggle .toggle-line::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--but-color);
    transition: 0.3s;
  }
  .header .toggle .toggle-line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--but-color);
    transition: 0.3s;
  }
  .header .toggle.play-toggle .toggle-line {
    background-color: transparent;
  }
  .header .toggle.play-toggle .toggle-line::before {
    transform: rotate(45deg) translateY(10px) translateX(4px);
  }
  .header .toggle.play-toggle .toggle-line::after {
    transform: rotate(-45deg) translateY(-10px) translateX(4px);
  }
}

@media (min-width: 992px) {
  .header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
  }
  .header .container .nav {
    padding: 15px 30px;
  }
  .header .menu {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .header .nav .link {
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: var(--boder-rad);
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s, background-color 0.3s;
  }
  .header .nav .link.active,
  .header .nav .link:hover {
    background-color: var(--but-color);
    color: var(--f-color);
  }
  .header .toggle {
    display: none;
  }
}
/* End Header */
/* Start Main */
.main {
  min-height: 130vh;
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.main .container {
  padding-top: 40vh;
}
.main .main-text {
  color: var(--f-color);
}
.main .main-text .main-head {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.main .main-text .main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main .main-text .main-par {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 30px;
}
.main .main-slides {
  width: 80%;
  margin: 40px auto;
  position: relative;
}
.main .main-slides .swiper-container {
  width: 100%;
  height: 100%;
}
.main .main-slides .swiper-wrapper {
  padding-bottom: 60px;
}
.main .main-slides .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main .main-slides .swiper-button-next,
.main .main-slides .swiper-button-prev {
  top: initial;
  bottom: 0;
  font-size: 15px;
  background-color: var(--f-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 50%;
}
.main .main-slides .swiper-button-next {
  transform: translateX(calc(-50% + 30px));
}
.main .main-slides .swiper-button-prev {
  transform: translateX(calc(-50% - 30px));
}
.main .main-slides .swiper-button-next::after,
.main .main-slides .swiper-button-prev::after {
  font-size: 12px;
  color: var(--but-color);
}

@media (min-width: 992px) {
  .main .container {
    padding-top: 35vh;
    display: flex;
    justify-content: space-between;
  }
  .main .main-text {
    width: 50%;
  }
  .main .main-text .main-head {
    font-size: 20px;
  }
  .main .main-text .main-title {
    font-size: 45px;
  }
  .main .main-slides {
    width: 40%;
    margin: 0;
  }
}
/* End Main */
/* Start Categories */
.bg-dark {
  background-image: url(../images/dark-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px 100px 0px;
  /* position: relative; */
}
.categories .categories-boxs {
  margin-top: 50px;
  margin-bottom: 100px;
}
.categories .categories-boxs .box-item {
  background-color: var(--box-color);
  border: 1px solid var(--border-box-color);
  text-align: center;
  padding: 25px 25px 30px;
  border-radius: 20px;
  position: relative;
  margin: 20px;
}
.categories .categories-boxs .box-item .item-icon {
  width: 60px;
  height: 60px;
  background-color: var(--f-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 15px;
}
.categories .categories-boxs .box-item .item-icon img {
  max-width: 30px;
}

.categories .categories-boxs .box-head {
  font-size: 20px;
  color: var(--f-color);
  line-height: 1.5;
  font-weight: 700;
}
.categories .categories-boxs .box-but {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: var(--f-color);
  color: var(--but-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.categories .categories-boxs .box-item:hover .box-but,
.categories .categories-boxs .box-item .box-but:hover {
  opacity: 1;
  visibility: visible;
}
.categories .categories-boxs .box-item .box-but:hover {
  color: var(--f-color);
  background-color: var(--but-color);
}
@media (min-width: 575px) {
  .categories .categories-boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .categories .categories-boxs {
    grid-template-columns: repeat(6, 1fr);
  }
  .categories .categories-boxs .box-item {
    margin: 0;
  }
}
/* End Categories */
/* Start Collection */
.collections {
  padding-top: 30px;
  padding-bottom: 30px;
}
.collections .swiper {
  padding-right: 23px;
  padding-left: 23px;
}
.collections .swiper-slide {
  border-radius: var(--boder-rad);
  background-color: var(--box-color);
  border: 1px solid var(--border-box-color);
  position: relative;
  margin-bottom: 40px;
  /* max-width: 28px; */
}
.collections .coll-img {
  overflow: hidden;
  border-top-left-radius: var(--boder-rad);
  border-top-right-radius: var(--boder-rad);
}
.collections .coll-text {
  padding: 30px 25px 45px;
}
.collections .coll-head {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 25px;
  text-align: center;
  color: var(--f-color);
}
.collections .coll-pars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--f-color);
  line-height: 1.8;
}
.collections .coll-pars p {
  font-size: 14px;
}
.collections .coll-pars p:first-child {
  margin-right: 10px;
}
.collections .coll-pars p:last-child {
  text-align: right;
}
.collections .coll-pars strong {
  font-size: 18px;
  font-weight: 700;
}
.collections .general-buts {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.collections .general-buts .gen-but {
  min-width: 170px;
  padding: 13px 0;
  text-align: center;
}

.collections .swiper-button-next {
  right: 0;
}
.collections .swiper-button-prev {
  left: 0;
}
.collections .swiper-button-next::after,
.collections .swiper-button-prev::after {
  display: none;
}
/* End Collection */
/* Start NFT */
.nft {
  background-image: url(../images/main-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
  position: relative;
}

.nft .gen-head::before {
  background-color: var(--f-color);
}
.nft .general-buts {
  margin: 10px auto;
  text-align: center;
  letter-spacing: 1px;
}
.nft .general-buts .gen-but::after {
  height: 2px;
}
.nft .nft-item {
  text-align: center;
  margin-top: 40px;
  color: var(--f-color);
  line-height: 1.8;
  padding: 5px;
  position: relative;
}
.nft .nft-item .nft-icon {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--f-color);
  border-radius: 50%;
}
.nft .nft-item .nft-icon img {
  width: 32px;
}
.nft .nft-item .nft-head {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.nft .nft-item .nft-par {
  font-size: 16px;
}
.nft .nft-item .nft-par a {
  color: #3cf;
  font-size: 15px;
}
@media (min-width: 992px) {
  .nft .nft-gen {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nft .gen-head::before {
    left: 0;
    transform: translateX(0);
  }
  .nft .nft-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .nft .nft-item {
    text-align: left;
  }
  .nft .nft-item .nft-icon {
    margin-left: 0;
  }
  .nft .nft-item:not(:last-child):before {
    content: "1";
    position: absolute;
    top: 0;
    right: -23px;
    padding: 5px;
  }
  .nft .nft-item:nth-child(2):before {
    content: "2";
  }
  .nft .nft-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 40px;
    right: -13px;
    width: 1px;
    height: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nft .general-buts {
    margin: 0;
  }
}
/* End NFT */

/* Explore Page */

.create {
  background-image: url(../images/heading-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 150px;
  text-align: center;
  color: var(--f-color);
}
.create.explore-pad {
  padding-bottom: 220px;
}
.create .create-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}
.create .create-head {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 500;
}

.create .create-par {
  margin-bottom: 20px;
}
.create .create-par a {
  color: #8a75da;
}
@media (min-width: 992px) {
  .create .create-title {
    font-size: 22px;
  }
  .create .create-head {
    font-size: 40px;
  }
}

/* Start Details */
.details-dark {
  background-image: url(../images/dark-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0px 100px 0px;
  position: relative;
}

.details-show {
  margin-top: 30px;
  margin-bottom: 30px;
}
.details-show .img-show {
  border-radius: var(--boder-rad);
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 45px;
}
.show-content {
  padding: 10px;
  color: var(--f-color);
}
.show-content h5 {
  margin-bottom: 25px;
  font-size: 25px;
}
.show-content .user-img {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  line-height: 1.6;
  font-weight: 500;
}
.show-content .user-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.show-content .user-img a {
  color: var(--but-color);
}
.show-content .show-par {
  font-size: 15px;
  line-height: 1.8;
  padding-right: 15px;
  letter-spacing: 0.5px;
}
.show-content .show-owner {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-content .show-owner p {
  line-height: 1.8;
  margin-right: 10px;
  font-size: 14px;
}
.show-content .show-owner strong {
  color: var(--but-color);
  font-size: 18px;
  font-weight: 600;
}
.show-content .show-owner span {
  color: var(--span-color);
}
.show-content .show-form form {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px 10px;
}
.show-content .show-form p {
  color: var(--span-color);
}
.show-content .show-form [type="text"] {
  width: 100px;
  height: 45px;
  outline: none;
  border-radius: 23px;
  color: var(--f-color);
  text-align: center;
  margin: 0 15px 0 15px;
  padding: 5px;
  border: 1px solid var(--but-color);
}
.show-content .show-form [type="submit"] {
  margin: 0;
}
@media (min-width: 992px) {
  .details-show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: flex-start;
  }
  .details-show .img-show {
    margin-top: 0;
  }
}
/* End Details */

/* Muhamad */

/* --------------------- */

/* inputs */
/* 
.inputs{
  background-image: url(./images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 120px 0px;
} */

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  text-align: left;
  background-color: #37393c;
  padding: 45px 15px;
  border-radius: 15px;
  color: var(--f-color);
  font-size: smaller;
  margin-bottom: 80px;
}
.inputs-container label {
  padding-left: 10px;
  font-size: 15px;
}

.title,
.desc,
.username,
.Price,
.Royalties {
  width: 100%;
  height: 46px;
  text-align: left;
  padding: 5px 15px;
  background-color: #282b2f;
  border: 1px solid #404245;
  border-radius: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #afafaf;
  font-size: 16px;
  margin-top: 10px;
}

.input1 {
  width: 30%;
  padding-top: 10px;
}

.input2 {
  width: 48%;
}
.input3 label {
  font-size: 20px;
}

.input3 input {
  padding-top: 5px;
}
.submit-btn {
  position: relative;
}

.file {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputs-container button {
  width: 500px;
  height: 46px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: #7453fc;
  border: 0px;
  color: white;
}
.inputs-container .general-buts {
  flex-grow: 1;
  margin-top: 10px;
}
.inputs-container .general-buts a {
  width: 100%;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 1010px) {
  .inputs-container button {
    width: 200px;
  }
}

@media only screen and (max-width: 710px) {
  .inputs-container {
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px auto 80px;
  }
  .input1,
  .input2 {
    width: auto;
  }
}

/* --------------------------------------------------------- */

/* Start Followers */

.followers {
  background-image: url(../images/dark-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0px 120px 0px;
  position: relative;
}

.follower .follower-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.follower .follower-img .img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 25px;
  overflow: hidden;
}
.follower .follower-img h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--f-color);
  line-height: 1.7;
}
.follower .follower-img h3 span {
  font-size: 18px;
  font-weight: 400;
  color: var(--but-color);
  font-weight: 500;
}
.follower .follower-box {
  padding: 20px 20px;
  background-color: var(--box-color);
  border: 1px solid var(--border-box-color);
  border-radius: 20px;
  max-width: 500px;
  margin: 20px auto;
}
.follower .follower-box .flex-foll {
  /* padding: 10px 20px; */
  color: var(--but-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 1.8;
}

.follower .follower-box .flex-foll div {
  font-size: 17px;
  font-weight: 500;
}
.follower .follower-box .flex-foll div i {
  font-size: 22px;
}
.follower .follower-box .flex-foll div span {
  color: var(--f-color);
}

.follower .num-foll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}
.follower .num-foll span {
  font-size: 18px;
  font-weight: 400;
  color: var(--span-color);
  display: block;
  margin-right: 15px;
}
.follower .num-foll .general-buts {
  flex-grow: 1;
}
.follower .num-foll .general-buts a {
  margin: 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follower .follower-img {
    margin-bottom: 0;
  }
  .follower .follower-box {
    margin: 0;
    min-width: 400px;
    padding: 20px 30px;
  }
}

/* End Followers */

/* Start Gallery */
.gallery {
  padding-top: 80px;
  padding-bottom: 40px;
}
.gallery .gen-head {
  text-align: left;
  padding-top: 40px;
}
.gallery .gen-head::before {
  left: 0;
  transform: translateX(0);
}

.gallery .gallery-grid {
  margin-top: 30px;
  display: grid;
  gap: 50px 30px;
}

.gallery .gallery-box {
  padding: 45px 25px;
  background-color: var(--box-color);
  border: 1px solid var(--border-box-color);
  border-radius: var(--boder-rad);
  position: relative;
  /* margin-bottom: 20px; */
}

.gallery .gallery-box .gallery-img {
  position: relative;
}
.gallery .gallery-box .gallery-img > img {
  border-radius: var(--boder-rad);
}
.gallery .gallery-box .gallery-img span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.gallery .gallery-box .gallery-head {
  font-size: 25px;
  color: var(--f-color);
  margin-bottom: 20px;
  margin-top: 25px;
}
.gallery .gallery-box hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.gallery .gallery-box .gallery-text {
  color: var(--f-color);
  display: flex;
  line-height: 1.8;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}

.gallery .gallery-box .gallery-text span {
  font-size: 15px;
  padding-right: 15px;
}

.gallery .gallery-box .gallery-text span strong {
  font-size: 18px;
}

.gallery-box .general-buts {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.gallery-box .general-buts a {
  padding: 0;
  min-width: 150px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  .followers .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .followers .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* End Gallery */

/* Current */

.current .current-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.current .current-head h4 {
  background-color: var(--but-color);
  border-radius: 22px;
  font-size: 20px;
  padding: 10px 20px;
  color: var(--f-color);
  margin-top: 15px;
  margin-bottom: 15px;
}

.current .current-head select {
  padding: 5px;
  background-color: transparent;
  color: var(--f-color);
  border: none;
}

.current .current-grid {
  padding-top: 40px;
  display: grid;
  gap: 30px 20px;
}
.current .current-box {
  background-color: var(--box-color);
  border: 1px solid var(--border-box-color);
  border-radius: var(--boder-rad);
  overflow: hidden;
  display: flex;
}

.current .current-img img {
  height: 100%;
}
.current .current-text {
  color: var(--f-color);
  font-size: 16px;
  line-height: 1.6;
  margin-left: 10px;
  padding: 10px 25px 10px 10px;
  flex-grow: 1;
}
.current .current-text strong {
  font-size: 18px;
  font-weight: 600;
}
.current .current-text span {
  color: var(--but-color);
}
.current .current-text hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .current .current-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .current .current-text {
    line-height: 1.6;
    margin-left: 5px;
    padding: 10px 25px 10px 10px;
  }
}
@media (min-width: 992px) {
  .current .current-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Start Eplore Slider */


.discover .explore-imgs {
  position: absolute;
  width: 100%;
  padding: 20px 40px;
  top: 50px;
  transform: translateY(-50%);
}
.discover .explore-imgs .slide-box {
  overflow-x: hidden;
  position: relative;
}

.discover .explore-imgs .slide-box > img {
  border-radius: var(--boder-rad);
  max-height: 500px !important;
  display: block;
}
.discover .explore-imgs .slide-box .slide-info {
  position: absolute;
  width: 80%;
  background-color: #282b2feb;
  border-radius: 20px;
  z-index: 100;
  bottom: 7%;
  padding: 30px;
  border: 1px solid var(--border-box-color);
  transition: left 0.4s;
  left: 100%;
}
.discover .explore-imgs .slide-box:hover .slide-info  {
  left: 10%;
}
.slide-box .slide-info h4 {
  color: var(--f-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.slide-box .slide-info .slide-info-flex {
  display: flex;
  align-items: center;
  color: var(--f-color);
  line-height: 1.6;
  
}
.slide-box .slide-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}
.slide-info .slide-info-flex h5 {
  font-weight: 400;
  font-size: 15px;
  
}
.slide-info .slide-info-flex h5 a{
  font-weight: 600;
  color: var(--but-color);
  
}


.slide-box .slide-info {
  position: absolute;
}


.explore-imgs .swiper-button-next,
.explore-imgs .swiper-button-prev  {
  opacity: 0.6;
  transition: opacity 0.3s;
}
.explore-imgs .swiper-button-next:hover,
.explore-imgs .swiper-button-prev:hover  {
  opacity: 1;
}
.explore-imgs .swiper-button-next {
  right: 20px;
}
.explore-imgs .swiper-button-prev {
  left: 20px;
}
.explore-imgs .swiper-button-next::after,
.explore-imgs .swiper-button-prev::after {
  display: none;
}









/* End Eplore Slider */



/* Start Eplore discover */

.discover {
  background-image: url(../images/dark-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 300px 0px 100px 0px;
  position: relative;
}

.discover .form {
  margin: 20px 0 60px;
}
.discover .form input,
.discover .form select,
.discover .form button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--boder-rad);
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--f-color);
}
.discover .form select option {
  background-color: var(--box-color);
}
.discover .form button {
  background-color: var(--but-color);
  cursor: pointer;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 500;
}
.discover .form button:hover {
  background-color: var(--f-color);
  color: var(--but-color);
}

.discover .form button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: var(--f-color);
  transform: translateX(-50%);
}

.discover .gallery-double {
  display: flex;
  border-radius: var(--boder-rad);
  background-color: var(--box-color);
  position: relative;
  max-width: 100%;
}
.discover .gallery-double::before {
  content: "Double Item";
  color: var(--f-color);
  background-color: var(--but-color);
  font-size: 15px;
  padding: 5px 15px;
  position: absolute;
  font-weight: 500;
  left: 50%;
  top: 0;
  border-radius: 15px;
  transform: translateX(-50%) translateY(-50%);
}
.discover .gallery-double .gallery-box-sec {
  width: 50%;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.discover .gallery-double .gallery-box-sec hr.double-hr {
  width: calc(100% + 50px);
}
.discover .gallery-double .gallery-box-sec .general-buts {
  left: 0;
}
@media (max-width: 400px) {
  .gallery .gallery-box.gallery-box-sec {
    padding: 45px 10px;
  }

  .gallery-double .gallery-head {
    font-size: 20px;
  }
  .gallery-double .gallery-text span {
    font-size: 12px;
    padding-right: 10px;
  }

  .gallery-double .gallery-text span strong {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-double {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .discover-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discover .form form {
    display: flex;
    justify-content: space-between;
  }
  .discover .form {
    margin: 20px;
  }
}
@media (min-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery-double {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .discover-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discover .form form {
    display: flex;
    justify-content: space-between;
  }
  .discover .form {
    margin: 20px;
  }
}

/* seller */
.seller {
  padding: 80px 0;
  background: url(../images/main-bg.jpg);
  color: var(--f-color);
}
.seller .gen-head::before {
  background-color: var(--f-color);
}
.seller-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.seller-box {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 200px;
  margin-bottom: 30px;
}
.seller-box img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.seller-number {
  font-size: 20px;
  font-weight: bold;
}
.seller-box div p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.seller-box a {
  font-size: 14px;
}
@media (min-width: 560px) {
  .seller-info {
    justify-content: space-between;
  }
}
/* 
@media only screen and (max-width: 700px) {
  .seller--box {
    margin-left: 60px;
  }
} */

/* End Eplore discover */









.market{
  background-image: url(../images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px 100px 0px;
}


.market-container{
  padding: 50px 16px;
}


.market .gen-head::before {
  background-color: var(--f-color);

}

.market-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.market-nav a{
  text-decoration:none;
  color: var(--f-color);
  margin: 5px 10px;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 500;
}
.market-nav a.search-active,
.market-nav a:hover {
  background-color: #7453fc;
  color: var(--f-color);
}

.market-items{
  display: grid;
  gap: 25px;
}

.market-item{
  display: flex;
  justify-content: space-between;
  width: 48%;
  border: 1px solid var(--border-box-color);
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--box-color);
  color: var(--f-color);
  margin:10px 0px;
  width: 100%;
  transition: 0.3s;
}

.market-img , .market-content{
  width: 47%;

}

.market-img{
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
}
.market-img img{
  width: 100%;
  background-size: cover;
  border-radius: 15px;
}

.market-content{
  padding-top: 20px;
  position: relative;
  margin: 0px 5px;
}

.market-content .bid,.market-content .ends{
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
}

.market-content .ends{
  text-align: right;
}

.button-view{
  margin-top: 50px;
}

.market-img , .market-content .market-head {
  margin-top: 10px;
  margin-bottom: 15px;
}
.market-pic{
  display: flex;
  flex-wrap: wrap;
}

.market-pic > img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
}
.market-pic h4{
  line-height: 1.5rem;
}
.market-content .market-line{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.market .market-user {
  font-size: 16px;
  font-weight: 400;
}
.market .market-user a{
  color: var(--but-color);
  font-size: 15px;
  font-weight: 600;
}
.market-content .button-view{
  color: var(--but-color);
  font-weight: 600;
  padding-bottom: 30px;
  position: relative;
}
.market-content .button-view a{
  border-bottom: 1px solid var(--but-color);
}



@media only screen and (max-width:500px){
  .market-content h4{
    font-size: 15px;

  }
  .market-content .bid,.market-content .ends{
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
}
}

@media (min-width: 992px) {
  .market-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .market-items{
    grid-template-columns: repeat(2, 1fr);
  }
  .market-items .market-item {
    width: 100%;
  }
  .market .gen-head {
    text-align: left;
  }
  .market .gen-head::before {
    left: 0;
    transform: translateX(0);
  
  }
  
  .market-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
}

















/* Start Footer */
.footer {
  width: 100%;
  text-align: center;
  background-color: var(--but-color);
  line-height: 1.7;
  font-size: 16px;
}

.copyright {
  margin: auto;
  padding: 30px 5px;
  color: var(--f-color);
}
/* End Footer */
