/* Start Genral rules */
:root {
  /* Colors */
  --f-color: #fff;
  --but-color: #7453fc;
  --box-color: #282b2f;
  --border-box-color: #404245;
  /* Border Radius */
  --boder-rad: 25px;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  padding: 0;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
img {
  width: 100%;
}
button,
input,
textarea {
  border: none;
  background-color: transparent;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* End Genral rules */
/* Start classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}
/* End classes */
/* Start Header */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: var(--f-color);
}
.header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--f-color);
  border-radius: 50px;
}
.header .nav .logo {
  margin-right: 20px;
}
@media (max-width: 991.99px) {
  .header .menu {
    position: absolute;
    width: 90%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--f-color);
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  .header .menu.play-menu {
    height: fit-content;
    height: 265.5px;
    /* overflow: visible; */
    /* opacity: 1; */
    /* visibility: visible; */
  }

  .menu .link {
    display: inline-block;
    color: #1e1e1e;
    width: 100%;
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
    transition: color 0.3s;

    font-weight: 500;
  }
  .header .nav .link.active,
  .header .nav .link:hover {
    color: var(--but-color);
  }
  /* .header .menu.open-menu {
    display: block;
  } */
  .header .toggle {
    cursor: pointer;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .toggle .toggle-line {
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: var(--but-color);
    position: relative;
  }
  .header .toggle .toggle-line::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--but-color);
  }
  .header .toggle .toggle-line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--but-color);
  }
}
@media (min-width: 992px) {
  .header {
    /* position: absolute; */
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
  }
  .header .container .nav {
    padding: 15px 30px;
  }
  .header .menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* height: 0; */
    /* overflow: hidden; */
  }

  .header .nav .link {
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: var(--boder-rad);
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s, background-color 0.3s;
  }
  .header .nav .link.active,
  .header .nav .link:hover {
    background-color: var(--but-color);
    color: var(--f-color);
  }
  .header .toggle {
    display: none;
  }
}
/* End Header */
/* Start Main */
.main {
  min-height: 130vh;
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* End Main */
/* Start Home */
/* End Home */
.scro {
  height: 3000px;
  background-color: wheat;
}
